# Configuración para la Base de Datos en la Nube (Neon Postgres)
DATABASE_URL="postgresql://neondb_owner:npg_qDz2RFItbiA8@ep-steep-smoke-ay5b02jw-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=verify-full"
PORT=4000
