# Dependencias de Node 
node_modules/
npm-debug.log*

# Archivos de configuración de IDEs 
.vscode/
.idea/

# Archivos del Sistema Operativo
thumbs.db
.DS_Store

# Datos sensibles / Variables de entorno
.env

# Build / Salida de compilación 
dist/
build/